h1 {
    text-align: center;
    font-family: sans-serif;
}
.table-box{
    display: flex;
    justify-content: center;
    
}
table{
    font-size: 2em;
    border-collapse: collapse;
    font-family: sans-serif;
    border-style: none;
    border: 0px 
}
th, td {
    border: 0px;
    padding: 10px 15px;
    border-style: none;
}
img{
    height: 50px;
    width: 50px;
    display: block;
    margin: 0 auto;
}
.col-fam{
    background-color: rgb();
}
.verde-osc {
    background-color: rgb(66, 128, 81);
}
.verde {
    background-color: rgb(132, 173, 144);
    width: 150px;
}
.gris {
    background-color: rgb(143, 143, 143);
}
.blanco {
    background-color: rgb(187, 190, 192);
}